[user]
  email = nicholas.gasior@laatu.io
  name = Nicholas Gasior
[alias]
  l=log --pretty=oneline -n 20 --graph --abbrev-commit
  s=status -s
  d=!"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
  tags=tag -l
  branches=branch -a
  remotes=remote -v
  fb="!f() { git branch -a --contains $1; }; f"
  ft="!f() { git describe --always --contains $1; }; f"
  fm="!f() { git log --pretty=format:'%h  %ad  %s  [%cn] %d' --decorate --date=short --grep=$1; }; f"
  diffc=diff --cached
[core]
  trustctime = false
  filemode = false
[http]
  sslverify = false
